/* PC */
@media (min-width:1024px){

}

/* tablet and mobile */
@media (max-width:1023px){
    .btn {
        padding: 15px 16px;
    }
    .contact-form .form-control {
        padding: 15px;
    }
    .icon-footer a {
        font-size: 48px;
        margin: 0 8px;
    }
    #nav .subnav a{
        padding: 5px 12px;
    }
    #content .content-section .contact-info {
        line-height: 2.0;
    }
}

/* TABLET */

@media (max-width:1023px) and (min-width:740px){

}

/* MOBILE */

@media (max-width:739px){
    #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }
    #nav  >li:first-child {
        display: inline-block;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 46px;
        
    }
    #header {
        overflow: hidden;
    }

    #header .search-btn{
        display: none;
    }
    #header .mobile-menu-btn {
        display: block;
        color: #fff;
        font-size: 20px;
    }
    #content .member-list .member-item {
        width: 100%;
        margin-top: 30px;
    }
    #content .member-img {
        width: 60%;
    }
    #content .content-section .contact-info{
        margin-bottom: 32px;
        line-height: 2;
    }
     .s-mt-8 {
        margin-top: 8px !important;
    }
    #slider .text-content {
        bottom: 10px;
    }
    .s-full-width,
    .s-coll-full {
        width: 100% ;
        text-align: center;
    }
}